 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap"); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    font-size: 45px;
    color: #44443C;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-weight: bold;
  
    
}
.store-header{
    font-size: 35px;
    color: #44443C;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}
.main-header{
    position: absolute;
    top: 15%;
    font-size: 70px;

}
.main-para{
    position: relative;
    top: 40%;
    font-size: 20px;
}
.shop-btn{
  width: 120px;
  background-color: #A78364;
  border: none;
  outline: none;
  height: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.about-btn{
    width: 120px;
    background-color: #fff;
    border: 1px solid;
    outline: none;
    height: 49px;
    color: #44443C;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    border-color: #A78364;
    margin-left: 150px;
}
.btn-container{
    position: relative;
    top: 50%;
    align-items: center;
}
.arrival-container{
    margin-top: 100px;
    margin-bottom: 190px;
}
.arrival-img{
    height: 300px !important;
    width: 300px !important;
    margin-right: 30px !important;
}
.summer-container::before{
    height: 300px;
    background-color: #eeeee4;
    z-index: -1;
    width: 100%;
    height: 56%;
    content: "";
    position: absolute;
    top: 280%;
    left: 0;
    margin: 0;
    padding: 0%;
}
.store-container::before{
    width: 100%;
    height: 800px;
    background-color: #eeeee4;
    z-index: -2;
    content: "";
    position: absolute;
    top: 90%;
    left: 0;
    margin: 0;
    padding: 0%;
}
.main-image-container::before{
    content: "";
    width: 13.25%;
    height: 47%;
    background-color:#A78364;
    position: absolute;
    top: 48%;
    right: 0;
    margin: 0;
    padding: 0%;
}
.main-image-container::after{
    content: "";
    width: 590px;
    height: 55%;
    position: absolute;
    z-index: -1;
    top: 48%;
    right: 12%;
    margin: 0;
    padding: 0%;
    border: 2px solid #A78364;
}
.add-to-cart{
  width: 120px;
  background-color: #A78364;
  border: none;
  outline: none;
  height: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.home-price{
    color: #A78364;
    font-size: 18px;
}
.popular-image{
    height: 400px !important;
    width: 400px !important;
}